body {
	margin: 0px 0px 0px 0px;
	background-color: gray;
}

#video-container {
	background-color: black;
	pointer-events: none;
	width: 100%;
	
	overflow: hidden;

}

#background-video {
	filter: saturate(0.8) brightness(0.7) contrast(0.9) blur(1.4vw);
	width: 100%;
	transform: scale(1.4);
	
	
}
