body {
	margin: 0px 0px 0px 0px;
	background-color: gray;
	font-family: 'Roboto', sans-serif;
	font-display: optional;
}

#header-container {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
}

#img-repo {
	filter: drop-shadow(0px 0px 3px white);
}

#video-container {
	background-color: black;
	pointer-events: none;
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: -100;
}

#background-video {
	filter: saturate(0.8) brightness(0.7) contrast(0.9) blur(1.4vw);
	width: 100%;
	transform: scale(1.4);
}

#main-container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	min-width: 10px;
	max-width: 600px;
	/* width: 50%; */
	/* text-align: center; */
}

#title {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 100px;
	text-align: center;
	margin-bottom: 10px;
}

#subtitle {
	text-align: center;
	margin-bottom: 20px;
}

#input-bar {
	border: 0px;
	border-radius: 999px;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	/* opacity: 0.8; */
	width: 96%;
	height: 60px;
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	display: block;
	background: linear-gradient(180deg, #FFFFFF 0%, #e4e4e4 100%);
	outline: none;
}

/* .video-tag {

} */
