:root {
	--color-warning: #FFCF00;
	--color-error: red;
}

@font-face {
	font-family: "fontello";
	src:
		url("fontello.woff2") format("woff2"),
		url("fontello.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0px 0px 0px 0px;
	background-color: gray;
	font-family: "Roboto", sans-serif;
	font-display: optional;
}

#header-container {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
}

#img-repo {
	border: 1px solid white;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	background-color: white;
}

#background-video-container {
	background-color: black;
	pointer-events: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: -100;
}

#background-video {
	filter: saturate(0.3) brightness(0.5) contrast(1.2) blur(1.4vw);
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.4);
}

#main-container {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	min-width: 10px;
	max-width: 600px;
}

#logo {
	margin-top: 6px;
	margin-right: 10px;
	height: 80px;
}

#main-title-container {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-title {
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 120px;
	color: white;
	letter-spacing: -5px;
}

#main-subtitle {
	text-align: center;
	margin-bottom: 60px;
	color:hsl(0, 0%, 85%);
	font-size: 19px;
}

#input-progress-container {
	width: 96%;
	position: relative;
	height: 50px;
}

#input-fail-indicator-container {
	position: relative;
}

#input-bar {
	border: 4px solid transparent;
	border-radius: 30px;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 60px;
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	display: block;
	background-color: white;
	outline: none;
	font-family: "Roboto";
	font-size: 18px;
}

#input-bar.input-has-indicator {
	padding-right: 65px;
}

#input-bar.input-warning {
	border: 4px solid var(--color-warning);
}

#input-bar.input-error {
	border: 4px solid var(--color-error);
}

#input-bar::selection {
	background-color: red;
	color: white;
}

#input-bar:hover {
	background-color: hsl(0, 0%, 97%);
}

#fail-indicator-container {
	position: absolute;
	right: 40px;
	top: 50%;
	z-index: 10;
	width: 32px;
	height: 32px;
	transform: translate(50%, -50%);
}

#fail-indicator {
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "fontello";
	font-size: 46px;
	visibility: hidden;
}

#fail-indicator.fail-indicator-warning::before {
	content: "\e802";
	color: var(--color-warning);
	font-size: 84%;
	visibility: visible;
}

#fail-indicator.fail-indicator-error::before {
	content: "\e801";
	color: var(--color-error);
	visibility: visible;
}

@keyframes fail-shake-animation {
	0% {transform: translate(0px);}
	15% {transform: translate(20px);}
	40% {transform: translate(-20px);}
	60% {transform: translate(10px);}
	80% {transform: translate(-10px);}
	100% {transform: translate(0px);}
}

.fail-shake {
	animation: fail-shake-animation 0.3s linear;
}

@keyframes progress-bar-animation {
	to {
		background-position: -100%;
	}
}

#progress-bar {
	position: relative;
	margin-top: -30px;
	height: 0px;
	z-index: -10;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: red;
	background-image: linear-gradient(to right, red 33%, hsl(0, 100%, 45%) 33% 66%, hsl(0, 100%, 40%) 66%);
	background-size: 50%;
	animation: progress-bar-animation 0.8s linear infinite;
	/* transition: height 0.1s linear; */
}

#progress-bar.progress-bar-enabled {
	height: 40px;
}

#content-container {
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

#content-container.content-container-visible {
	transform: scaleY(1);
}

#content {
	max-width: 800px;
	width: 80%;
	box-sizing: border-box;
	overflow: hidden;
	margin: auto;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: hsla(0, 0%, 10%, 0.9);
	overflow: hidden;
	color: white;
	padding: 40px;
}

.video-thumbnail {
	/* 120x90 */
	height: 90px;
}

#video-title {
	font-weight: bold;
	font-size: 120%;
}

#video-likes-dislikes-bar {
	position: relative;
	width: 600px;
	max-height: 3px;
	min-height: 0.15vh;
	background-color: red;
	border-radius: 999px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#video-likes-dislikes-bar-likes {
	position: absolute;
	width: 0%; /* % of likes */
	height: 100%;
	background-color: green;
	border-top-left-radius: 999px;
	border-bottom-left-radius: 999px;
	z-index: 10;
	content: "";
}
