body {
	margin: 0px 0px 0px 0px;
	background-color: gray;
	font-family: 'Roboto', sans-serif;
	font-display: optional;
}

#header-container {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
}

#img-repo {
	border: 1px solid white;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	background-color: white;
}

#background-video-container {
	background-color: black;
	pointer-events: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: -100;
}

#background-video {
	filter: saturate(0.3) brightness(0.5) contrast(1.2) blur(1.4vw);
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.4);
}

#main-container {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	min-width: 10px;
	max-width: 600px;
}

#logo {
	margin-top: 6px;
	margin-right: 10px;
	height: 80px;
}

#title-container {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 120px;
	color: white;
	letter-spacing: -5px;
}

#subtitle {
	text-align: center;
	margin-bottom: 60px;
	color:hsl(0, 0%, 85%);
	font-size: 19px;
}

#input-progress-container {
	width: 96%;
}

#input-bar {
	border: 2px solid transparent;
	border-radius: 30px;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 60px;
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	display: block;
	background-color: white;
	outline: none;
	font-family: 'Roboto';
	font-size: 18px;
}

#input-bar::selection {
	background-color: red;
	color: white;
}

#input-bar:hover {
	border: 2px solid hsl(0, 100%, 50%);
}

@keyframes progress-bar-animation {
	to {
		background-position: -100%;
	}
}

#progress-bar {
	position: relative;
	top: -30px;
	height: 37px;
	z-index: -10;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: red;
	background-image: linear-gradient(to right, red 33%, hsl(0, 100%, 45%) 33% 66%, hsl(0, 100%, 40%) 66%);
	background-size: 50%;
	animation: progress-bar-animation 0.8s linear infinite;
	/* transition: height 0.5s linear; */
}

@keyframes content-animation {
	from {
		height: 0px;
	}
	to {
		height: 1000px;
	}
}

#content {
	max-width: 800px;
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: hsla(0, 0%, 10%, 0.9);
	animation-name: content-animation;
	animation-duration: 1s;
	animation-fill-mode: both;
	overflow: hidden;
	color: white;
	padding: 30px;
}

/* .video-tag {

} */
