:root {
	--color-warning: #FFCF00;
	--color-error: red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: gray;
	font-family: "Roboto", sans-serif;
	font-display: optional;
}

.header {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
}

.repo-img {
	border: 1px solid white;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	background-color: white;
}

.background {
	background-color: black;
	pointer-events: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: -100;
}

.background__video {
	filter: saturate(0.3) brightness(0.5) contrast(1.2) blur(1.4vw);
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.4);
}

.main {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	min-width: 10px;
	max-width: 600px;
}

.main__title-logo {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__title-logo__logo {
	margin-top: 6px;
	margin-right: 10px;
	height: 80px;
}

.main__title-logo__title {
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 120px;
	color: white;
	letter-spacing: -5px;
}

.main__subtitle {
	text-align: center;
	margin-bottom: 60px;
	color:hsl(0, 0%, 85%);
	font-size: 19px;
}

.input {
	width: 96%;
	position: relative;
	height: 60px;
}

.input__bar {
	border: 4px solid transparent;
	border-radius: 30px;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	display: block;
	background-color: white;
	outline: none;
	font-family: "Roboto";
	font-size: 18px;
}

.input__bar--has-indicator {
	padding-right: 65px;
}

.input__bar--input-warning {
	border: 4px solid var(--color-warning);
}

.input__bar--input-error {
	border: 4px solid var(--color-error);
}

.input__bar::selection {
	background-color: red;
	color: white;
}

.input__bar:hover {
	background-color: hsl(0, 0%, 94%);
}

.input__fail {
	position: absolute;
	right: 40px;
	top: 50%;
	z-index: 10;
	width: 40px;
	height: 40px;
	transform: translate(50%, -50%);
}

.input__fail__symbol {
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input__fail__symbol--warning::before {
	width: 100%;
	height: 100%;
	content: "";
	background-image: url("fontawesome-attention.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.input__fail__symbol--error::before {
	width: 100%;
	height: 100%;
	content: "";
	background-image: url("fontawesome-cancel-circled.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@keyframes input--shake__anim {
	0% {transform: translate(0px);}
	15% {transform: translate(20px);}
	40% {transform: translate(-20px);}
	60% {transform: translate(10px);}
	80% {transform: translate(-10px);}
	100% {transform: translate(0px);}
}

.input--shake {
	animation: input--shake__anim 0.3s linear;
}

@keyframes input__progress-bar__anim {
	to {
		background-position: -100%;
	}
}

.input__progress-bar {
	position: relative;
	margin-top: -30px;
	height: 0px;
	z-index: -10;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: red;
	background-image: linear-gradient(to right, red 33%, hsl(0, 100%, 45%) 33% 66%, hsl(0, 100%, 40%) 66%);
	background-size: 50%;
	animation: input__progress-bar__anim 0.8s linear infinite;
	/* transition: height 0.1s linear; */
}

.input__progress-bar--enabled {
	height: 40px;
}

.content {
	overflow: hidden;
	max-height: 0px;
	transition: all 3s;
}

.content--visible {
	max-height: 2000px;
}

.content__content {
	max-width: 800px;
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	margin: auto;
	margin-bottom: 50px;
	border-radius: 30px;
	background-color: hsla(0, 0%, 10%, 0.9);
	overflow: hidden;
	color: white;
	padding: 40px;
}

.video-title {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 0.3em;
}

.info {
	display: flex;
	text-overflow: ellipsis;
}

.info__data {
	width: 8em;
	margin-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.info__data__icon {
	height: 0.95em;
	margin-right: 0.23em;
	margin-top: 0.1em;
}

.info__data__likes-dislikes {
	display: flex;
	flex-wrap: wrap;
}

.info__data__likes-dislikes__likes {
	margin-right: 0.4em;
}

.info__data__likes-dislikes-bar {
	position: relative;
	width: 8em;
	width: 80%;
	height: max(4px, 0.4vh);
	background-color: red;
	border-radius: 999px;
	margin-top: 5px;
}

.info__data__likes-dislikes-bar__likes {
	position: absolute;
	width: 0%; /* % of likes */
	height: 100%;
	background-color: green;
	border-top-left-radius: 999px;
	border-bottom-left-radius: 999px;
	z-index: 10;
	content: "";
}

.info__thumbnail-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 4px;
}

.info__thumbnail-grid__thumbnail {
	/* 120x90 */
	height: 48px;
	border-radius: 8px;
}

.info__thumbnail-grid__thumbnail-main {
	justify-self: center;
	align-self: end;
}

.info__thumbnail-grid__thumbnail-1 {
	justify-self: center;
	align-self: end;
}

.info__thumbnail-grid__thumbnail-2 {
	justify-self: center;
	align-self: start;
}

.info__thumbnail-grid__thumbnail-3 {
	justify-self: center;
	align-self: start;
}
